name: Update
on:
  workflow_dispatch:
    inputs:
      input:
        required: true
        type: string
  workflow_call:
    inputs:
      input:
        required: true
        type: string

concurrency: update

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: master
    - uses: cachix/install-nix-action@v25
      with:
        github_access_token: ${{secrets.GITHUB_TOKEN}}
        extra_nix_config: |
          access-tokens = github.com=${{secrets.PAT}}
    
    - name: Update
      run: nix flake lock --update-input ${{inputs.input}}

    - name: Commit
      run: |
        git config user.name lpm-automaton
        git config user.email lpm-automaton@protonmail.com
        git add -u
        if ! git diff --cached --quiet; then
           git commit -m "Update ${{inputs.input}}"
           git push
        else
          echo "No changes to commit."
        fi
